// aside
.aside-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    width: 256px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #e3e3e3;
    transition: width .3s;
    @media only screen and (min-width: 1025px) {
        .aside-toggle & {
            width: 64px;
        }
    }

    @include MQ(d1024) {
        transform: translateX(-100%);
        transition: transform .3s;

        .aside-toggle & {
            transform: translateX(0%);
        }
    }


    @include MQ(m480) {
        width: 100%;
    }
}

.aside-top {
    height: 64px;
}

.aside-title {
    display: flex;
    align-items: center;
    align-content: center;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    color: #000;
    padding: 0 24px;
    transform: translateX(0);
    overflow: hidden;
    // transition: all .3s;

    h2 {
        font-size: 14px;
        font-weight: normal;
    }

    @media only screen and (min-width: 1025px) {
        .aside-toggle & {
            display: none;

            // height: 0;
            // opacity: 0;
            // transform: translateX(-100%);
       
        }
    }
}

.aside-main {
    height: calc(100% - 64px - 40px);
    overflow-y: auto;

    @media only screen and (min-width: 1025px) {
        .aside-toggle & {
            overflow: visible;
        }
    }
}

// logo
.logo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: calc(100% - 64px);
    height: 64px;
    background-color: #F3F3F3;
    background-image: image-url("logo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    @media only screen and (min-width: 1025px) {
        .aside-toggle & {
            display: none;
        }
    }
}

.nav-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 64px;
    height: 64px;
    background-color: transparent;
    background-image: url("../image/nav_btn_l.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0;

    .aside-toggle & {
        background-image: url("../image/nav_btn_r.png");
    }

    @include MQ(d1024) {
        .aside-toggle & {
            background-image: url("../image/nav_btn_l.png");
        }
    }
}

// nav
.nav-wrap {}

.nav-list {}

.nav-item {
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 24px;
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("../image/nav_icon.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &.nav-member {
        &::before {
            background-image: url("../image/nav_icon_member.png");
        }
    }

    @media only screen and (min-width: 1025px) {
        .aside-toggle & {
            width: 100%;
            height: 64px;

            &::before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                .nav-box {
                    display: block;
                }
            }
        }
    }
}

.nav-box {
    > a,
    > button {
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 48px;
        line-height: 48px;
        white-space: nowrap;
        text-align: left;
        font-size: 14px;
        color: var(--text);
        padding: 0 24px 0 64px;
        transition: all .3s;
        overflow: hidden;

        &::after {
            position: absolute;
            top: 50%;
            right: 30px;
            content: '\f078';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 10px;
            color: var(--text);
            opacity: 1;
            transform: translateY(-50%);
            transition: all .3s;
        }

        &.is-active {
            color: var(--c1);

            &::after {
                content: '\f077';
                color: var(--c1);
            }
        }
    }

    > a {
        &::after {
            display: none;
            opacity: 0;
        }
    }

    @media only screen and (min-width: 1025px) {
        .aside-toggle & {
            position: absolute;
            top: 50%;
            right: -160px;
            display: none;
            width: 160px;
            background-color: #fff;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
            transform: translateY(-50%);

            > a,
            > button {
                width: 100%;
                height: 40px;
                color: #000;
                padding: 0 16px;
                overflow: hidden;

                &::after {
                    display: none;
                    opacity: 0;
                }
            }

            > button {
                cursor: default;
            }

            > a {
                &:hover {
                    color: var(--c1);
                }
            }
        }
    }
}

.nav-sub {
    display: none;

    li {
        position: relative;

        a {
            display: flex;
            align-items: center;
            align-content: center;
            height: 40px;
            font-size: 14px;
            color: var(--text);
            padding: 0 12px 0 64px;
            transition: color .3s;

            &:hover,
            &.is-active {
                color: var(--c1);
            }
        }
    }

    @media only screen and (min-width: 1025px) {
        .aside-toggle & {
            display: block !important;
            height: auto !important;

            li {
                a {
                    border-top: 1px solid #E8EFF4;
                    padding: 0 16px;
                }
            }
        }
    }
}

// header
.header-wrap {
    position: relative;
    height: 128px;
    background: linear-gradient(230deg, #14162b 9%, var(--c1));
    padding: 32px;

    @include MQ(d1024) {
        padding: 32px 20px;
    }
}

.header-main {
    position: relative;
    padding-right: 200px;

    @include MQ(d1024) {
        padding-right: 180px;
        padding-left: 60px;
    }


    @include MQ(m480) {
        padding-right: 60px;
    }
}

.header-nav {
    display: none;

    @include MQ(d1024) {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        background-image: url("../image/nav_btn_r.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: 0;
        filter: invert(1);

        .aside-toggle & {
            background-image: url("../image/nav_btn_l.png");
        }
    }
}

.header-search {
    position: relative;
    max-width: 1200px;

    input {
        display: block;
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: #FFF;
        background-color: rgba(#F3F3F3, 0.35);
        border: 0;
        border-radius: 20px;
        padding-left: 40px;

        @include placeholder(#FFF);
    }

    button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 16px;
        color: #FFF;

        &::before {
            content: '\f002';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }
    }
}

// user
.user-wrap {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 97;
    display: block;
    width: 160px;
    height: 40px;
    text-align: center;
    padding-left: 40px;
    transform: translateY(-50%);
    cursor: pointer;

    &::after {
        content: '\f078';
        position: absolute;
        top: 50%;
        right: 0;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 10px;
        color: #FFF;
        transform: translateY(-50%);
    }

    &.is-active {
        &::after {
            content: '\f077';
        }
    }

    @include MQ(m480) {
        width: 40px;
        height: 40px;
        padding-right: 0;
        padding-left: 0;

        &::after {
            display: none;
        }

        &.is-active {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateY(0%);
        }
    }
}

.user-img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1.5px solid var(--c1);
    border-radius: 100%;
    transform: translateY(-50%);

    span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    @include MQ(m480) {
        width: 40px;
        height: 40px;
        border-width: 3px;

        .is-active & {
            top: 32px;
            right: 20px;
            left: auto;
            transform: translateY(0%);
        }
    }
}

.notice-icon {
    position: absolute;
    top: 0;
    right: -5px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #f00;
    border-radius: 100%;
}

.user-text {
    padding-right: 16px;
}

.user-name {
    display: block;
    line-height: 40px;
    font-size: 14px;
    font-weight: normal;
    color: #FFF;
    margin: 0;
    padding: 0;

    @include text-truncate;
    @include MQ(m480) {
        display: none;
    }
}

.user-list {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 99;
    display: none;
    width: 160px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
    padding: 16px 0;
    transform: translateX(-50%);

    li {
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        height: 48px;

        a {
            display: block;
            font-size: 14px;
            color: var(--text);
            padding-left: 70px;
            transition: color .3s;

            &::before {
                position: absolute;
                top: 50%;
                left: 32px;
                font-size: 14px;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                color: var(--c1);
                transform: translateY(-50%);
            }

            &:hover {
                color: var(--c1);
            }
        }

        &.user-data {
            a {
                &::before {
                    content: '\f007';
                }
            }
        }

        &.user-set {
            a {
                &::before {
                    content: '\f013';
                }
            }
        }

        &.user-logout {
            a {
                &::before {
                    content: '\f2f5';
                }
            }
        }
    }

    @include MQ(m480) {
        position: fixed;
        top: 50%;
        width: 80%;
        max-width: 320px;
        height: auto !important;
        padding: 16px 0 !important;
        transform: translate(-50%, -50%);
    }
}