@model Electric_Scooter.Models.Purchase

<main class="container-wrap">
    <div class="container-main">
        <!-- breadcrumb -->
        <section class="breadcrumb-wrap">
            <ul>
                <li>
                    <a href="">首頁</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">進貨系統</a>
                </li>
                <li>
                    <p>修改</p>
                </li>
            </ul>
        </section>
        <!-- main -->
        @using (Html.BeginForm("Edit", "Purchase", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.pu_Id)
            @Html.HiddenFor(x => x.pu_CreateDate)
            @Html.Partial("Form", Model)
        }
    </div>
</main>